<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiming.emeng.mapper.AdvertisementMapper">
  <resultMap id="BaseResultMap" type="com.huiming.emeng.model.Advertisement">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="slogan" jdbcType="VARCHAR" property="slogan" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
  </resultMap>
  <sql id="Base_Column_List">
    id, slogan, link, pic
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from advertisement
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from advertisement
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huiming.emeng.model.Advertisement">
    insert into advertisement (id, slogan, link, 
      pic)
    values (#{id,jdbcType=INTEGER}, #{slogan,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR}, 
      #{pic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huiming.emeng.model.Advertisement">
    insert into advertisement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="slogan != null">
        slogan,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="pic != null">
        pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="slogan != null">
        #{slogan,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huiming.emeng.model.Advertisement">
    update advertisement
    <set>
      <if test="slogan != null">
        slogan = #{slogan,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huiming.emeng.model.Advertisement">
    update advertisement
    set slogan = #{slogan,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectNumberfromAdvertisement" resultType="Integer">
   select count(*) from advertisement
  </select>
  
  <select id="selectAdvertisementWithPagesizeFromFromindex" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from advertisement order by id DESC 
    <if test="fromIndex != null and pageSize != null">
        limit #{fromIndex},#{pageSize} 
    </if>

  </select>
  
</mapper>