<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiming.emeng.mapper.LinksMapper">
  <resultMap id="BaseResultMap" type="com.huiming.emeng.model.Links">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="order" jdbcType="INTEGER" property="order" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, link, order
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select links.id,links.name,links.link,links.order
   <!--<include refid="Base_Column_List" />    -->
    from links
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from links
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huiming.emeng.model.Links">
    insert into links (id, name, link, 
      links.order)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR}, 
      #{order,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.huiming.emeng.model.Links">
    insert into links
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="order != null">
        links.order,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="order != null">
        #{order,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huiming.emeng.model.Links">
    update links
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="order != null">
        links.order = #{order,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huiming.emeng.model.Links">
    update links
    set name = #{name,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      links.order = #{order,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectAllLink" resultMap="BaseResultMap">
     select * from links
  </select>
  
  <select id="selectNumberfromLink" resultType="Integer">
     select count(*) from links
  </select>
  <select id="selectLinkWithPagesizeFromFromindex" resultMap="BaseResultMap">
  
  select * from links order by id desc limit #{fromIndex},#{pageSize}
   <!-- 
   select 
   <include refid="Base_Column_List" />
   from links
   <if test="fromIndex != null and pageSize != null">
        limit #{fromIndex},#{pageSize} 
    </if>  
    -->  
  </select>
  
</mapper>