<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiming.emeng.mapper.PassageMapper">
  <resultMap id="BaseResultMap" type="com.huiming.emeng.model.Passage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="titile" jdbcType="VARCHAR" property="titile" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="annex" jdbcType="VARCHAR" property="annex" />
    <result column="recommend" jdbcType="INTEGER" property="recommend" />
    <result column="lesson" jdbcType="INTEGER" property="lesson" />
    <result column="chapter" jdbcType="INTEGER" property="chapter" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.huiming.emeng.model.Passage">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, titile, author, link, publish_time, type, state, annex, recommend, lesson, chapter
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from passage
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!--主页显示的文章-->
  <select id="selectByTypeAndDescendWithTime" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM passage psg
    <where>
      <if test="passageType != null and showPassageNums != null" >
        psg.type = #{passageType}
        ORDER BY psg.publish_time DESC
        limit 0,#{showPassageNums}
      </if>
    </where>
    
  </select>
  <select id="selectByPassageType" parameterType="Byte" resultType="java.lang.Integer">
    SELECT count(*)
    FROM passage psg
    WHERE psg.type = #{passageType}
  </select>
  <select id="selectPassageWithPagesizeFromFromindex" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM passage psg
    <where>
      <if test="passageType != null and fromIndex != null and pageSize != null">
        psg.type = #{passageType}
        ORDER BY psg.publish_time DESC
        limit #{fromIndex},#{pageSize}
      </if>
    </where>
  </select>
  <select id="selectRecommendPassageList" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM passage psg
    WHERE
    psg.type=12 AND psg.recommend>0

    ORDER BY psg.recommend ASC
    limit 0,7
  </select>
  <select id="selectAllPassageByPassageType" parameterType="Byte" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    from passage psg
    where psg.type = #{passageType}
    ORDER BY psg.publish_time DESC
  </select>
  <select id="selectPassageByLessonIdAndChapterIdAndPassageType" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM passage psg
    <where>
      <if test="lessonId != null and chapterId != null and passageType != null">
        psg.lesson = #{lessonId} AND psg.chapter = #{chapterId} AND psg.type = #{passageType}
      </if>
    </where>
    limit 0,7
  </select>
  <select id="selectCountByLessonIdAndChapterIdAndPassageType" resultType="java.lang.Integer">
    SELECT count(*)
    FROM passage psg
    <where>
      <if test="lessonId != null and chapterId != null and passageType != null">
        psg.lesson = #{lessonId} AND psg.chapter = #{chapterId} AND psg.type = #{passageType}
      </if>
    </where>
  </select>
  <select id="selectLessonPassageWithPagesizeFromFromindex" parameterType="com.huiming.emeng.common.LessonPageInfo" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM passage psg
    <where>
    <if test="lessonId != null and chapterId != null and passageType != null and fromIndex != null and pageSize != null">
      psg.lesson = #{lessonId}
      AND psg.chapter = #{chapterId}
      AND psg.type = #{passageType}
      limit #{fromIndex},#{pageSize}
    </if>
    </where>
  </select>
  <select id="selectLessonPassageByTitleWithPagesizeFromFromindex" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM passage
    <where>
      <if test="lessonId != null">
        lesson = #{lessonId}
      </if>
      <if test="title != null">
        AND titile LIKE concat(concat('%',#{title}),'%')
      </if>
    </where>
    ORDER BY publish_time DESC
    limit #{fromIndex},#{pageSize}
  </select>
  <select id="selectPassageByTitle" resultMap="BaseResultMap">
  SELECT
  <include refid="Base_Column_List" />
  FROM passage psg
  <where>
    <if test="title != null">
      (titile LIKE concat(concat('%',#{title}),'%') OR author LIKE concat(concat('%',#{title}),'%'))
      AND psg.type &gt; 0 AND (psg.type &gt;= 25 OR psg.type &lt;= 12)
    </if>
  </where>
    ORDER BY publish_time DESC
    limit #{fromIndex},#{pageSize}
  </select>
  <select id="selectCountByTitle" parameterType="String" resultType="java.lang.Integer">
    SELECT count(*)
    FROM passage psg
    <where>
      <if test="title != null">
        (titile LIKE concat(concat('%',#{title}),'%') OR author LIKE concat(concat('%',#{title}),'%'))
        AND psg.type &gt; 0 AND (psg.type &gt;= 25 OR psg.type &lt;= 12)
      </if>
    </where>
  </select>
  <select id="selectCountOfLessonPassageByTitle" resultType="java.lang.Integer">
    SELECT count(*)
    FROM passage
    <where>
      <if test="lessonId != null">
        lesson = #{lessonId}
      </if>
      <if test="title != null">
        AND titile LIKE concat(concat('%',#{title}),'%')
      </if>
    </where>
  </select>
  <select id="selectReadPassageWithPagesizeFromFromindex" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM passage
    <where>
      <if test="passageType != null and fromIndex != null and pageSize != null and lessonId != null">
        psg.type = #{passageType} AND lesson = #{lessonId}
        ORDER BY psg.publish_time DESC
        limit #{fromIndex},#{pageSize}
      </if>
    </where>
  </select>
  <select id="selectPassageByAuthor" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM passage psg
    <where>
      <if test="author != null">
        author = #{author}
      </if>
    </where>
    ORDER BY publish_time DESC
    limit #{fromIndex},#{pageSize}
  </select>
  <select id="selectCountByAuthor" resultType="Integer">
    SELECT count(*)
    FROM passage
    <where>
      <if test="author != null">
        author = #{author}
      </if>
    </where>
  </select>
  <select id="selectTeacherPassageShowInTeacherPage" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM passage psg
    <where>
      <if test="author != null">
        psg.author = #{author}
      </if>
    </where>
    ORDER BY publish_time DESC
    limit 0,7
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from passage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.huiming.emeng.model.Passage">
    insert into passage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="titile != null">
        titile,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="publishTime != null">
        publish_time,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="annex != null">
        annex,
      </if>
      <if test="recommend != null">
        recommend,
      </if>
      <if test="lesson != null">
        lesson,
      </if>
      <if test="chapter != null">
        chapter,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="titile != null">
        #{titile,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null">
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="state != null">
        #{state,jdbcType=TINYINT},
      </if>
      <if test="annex != null">
        #{annex,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null">
        #{recommend,jdbcType=INTEGER},
      </if>
      <if test="lesson != null">
        #{lesson,jdbcType=INTEGER},
      </if>
      <if test="chapter != null">
        #{chapter,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huiming.emeng.model.Passage">
    update passage
    <set>
      <if test="titile != null">
        titile = #{titile,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null">
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="annex != null">
        annex = #{annex,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null">
        recommend = #{recommend,jdbcType=INTEGER},
      </if>
      <if test="lesson != null">
        lesson = #{lesson,jdbcType=INTEGER},
      </if>
      <if test="chapter != null">
        chapter = #{chapter,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.huiming.emeng.model.Passage">
    update passage
    set titile = #{titile,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=TINYINT},
      state = #{state,jdbcType=TINYINT},
      annex = #{annex,jdbcType=VARCHAR},
      recommend = #{recommend,jdbcType=INTEGER},
      lesson = #{lesson,jdbcType=INTEGER},
      chapter = #{chapter,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huiming.emeng.model.Passage">
    update passage
    set titile = #{titile,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=TINYINT},
      state = #{state,jdbcType=TINYINT},
      annex = #{annex,jdbcType=VARCHAR},
      recommend = #{recommend,jdbcType=INTEGER},
      lesson = #{lesson,jdbcType=INTEGER},
      chapter = #{chapter,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  


<!-- 
  <select id="selectByTypeAndDescendWithTime" resultType="HomePagePassage" resultMap="BaseResultMap">
      SELECT
    <include refid="Base_Column_List" />
      FROM passage
      WHERE type = #{HomePagePassage.type}
      ORDER BY publish_time DESC
      limit 0,#{HomePagePassage.displayNums}
  </select> 

  <select id="fingPassage" parameterType="Map" resultMap="BaseResultMap">
     select * from passage where 
     titile like #{titile,jdbcType=VARCHAR} 
     or author like #{author,jdbcType=VARCHAR}
  </select>

-->
</mapper>