<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiming.emeng.mapper.PermissionMapper">
	<resultMap id="BaseResultMap" type="com.huiming.emeng.model.Permission">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="mapping" jdbcType="VARCHAR" property="mapping" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="function" jdbcType="VARCHAR" property="function" />
		<result column="state" jdbcType="TINYINT" property="state" />
	</resultMap>
	<sql id="Base_Column_List">
		id, mapping, description, function, state
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from permission
		where id = #{id,jdbcType=INTEGER}
	</select>
	<update id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		update from
		permission
		state = 0
		where id = #{id,jdbcType=INTEGER}
	</update>
	<insert id="insert" parameterType="com.huiming.emeng.model.Permission">
		insert into permission (id,
		mapping, description,function,state
		)
		values (#{id,jdbcType=INTEGER},
		#{mapping,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR},
		#{function,jdbcType=VARCHAR},
		#{state,jdbcType=TINYINT}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.huiming.emeng.model.Permission">
		insert into permission
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="mapping != null">
				mapping,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="function != null">
				function,
			</if>
			<if test="state != null">
				state,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="mapping != null">
				#{mapping,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="function != null">
				#{function,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.huiming.emeng.model.Permission">
		update permission
		<set>
			<if test="mapping != null">
				mapping = #{mapping,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="function != null">
				function = #{function,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=TINYINT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<update id="updateByMapping" parameterType="com.huiming.emeng.model.Permission">
		update permission
		<set>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="function != null">
				function = #{function,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=TINYINT},
			</if>
		</set>
		where mapping = #{mapping,jdbcType=VARCHAR}
	</update>
	
	
	
	<update id="updateByPrimaryKey" parameterType="com.huiming.emeng.model.Permission">
		update permission
		mapping = #{mapping,jdbcType=VARCHAR},
		description =
		#{description,jdbcType=VARCHAR},
		function =
		#{function,jdbcType=VARCHAR},
		state = #{state,jdbcType=TINYINT}
		where id
		= #{id,jdbcType=INTEGER}
	</update>

	<select id="selectSelective" parameterType="com.huiming.emeng.model.Permission"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from permission
		<where>
			<if test="id != null">
				id = #{id,jdbcType=VARCHAR}
			</if>
			<if test="mapping != null">
				AND mapping = #{mapping,jdbcType=VARCHAR}
			</if>
			<if test="description != null">
				AND description = #{description,jdbcType=VARCHAR}
			</if>
			<if test="function != null">
				AND function = #{function,jdbcType=VARCHAR}
			</if>
			<if test="state != null">
				AND state = #{state,jdbcType=TINYINT}
			</if>
		</where>
	</select>

	<delete id="deleteSelective" parameterType="com.huiming.emeng.model.Permission">
		delete from permission
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="mapping != null">
				mapping,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="function != null">
				function,
			</if>
			<if test="state != null">
				state,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="mapping != null">
				#{mapping,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="function != null">
				#{function,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=TINYINT},
			</if>
		</trim>
	</delete>
	<select id="selectAllEffective" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM permission
		where state = 1
	</select>
	<select id="selectAllEffectiveByPage" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM permission
		where state = 1
		limit #{fromIndex},#{pageSize}
	</select>
	
	<select id="selectAll" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM permission
	</select>
	<select id="selectCount" resultType="java.lang.Integer">
		SELECT count(*)
		FROM permission
	</select>
	
	
</mapper>