<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiming.emeng.mapper.TeacherMapper">
	<resultMap id="BaseResultMap" type="com.huiming.emeng.model.Teacher">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="direction" jdbcType="VARCHAR" property="direction" />
		<result column="subject" jdbcType="VARCHAR" property="subject" />
		<result column="pic" jdbcType="VARCHAR" property="pic" />
		<result column="school_id" jdbcType="INTEGER" property="schoolId" />
		<result column="type" jdbcType="TINYINT" property="type" />
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
		type="com.huiming.emeng.model.Teacher">
		<result column="introduction" jdbcType="LONGVARCHAR" property="introduction" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, direction, subject, pic, school_id
	</sql>
	<sql id="Blob_Column_List">
		introduction
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from teacher
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		teacher
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.huiming.emeng.model.Teacher">
		insert into teacher (id, name,
		direction,
		subject, pic, school_id,
		introduction)
		values
		(#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{direction,jdbcType=VARCHAR},
		#{subject,jdbcType=VARCHAR},
		#{pic,jdbcType=VARCHAR}, #{schoolId,jdbcType=INTEGER},
		#{introduction,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.huiming.emeng.model.Teacher">
		insert into teacher
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="direction != null">
				direction,
			</if>
			<if test="subject != null">
				subject,
			</if>
			<if test="pic != null">
				pic,
			</if>
			<if test="schoolId != null">
				school_id,
			</if>
			<if test="introduction != null">
				introduction,
			</if>
			<if test="type != null">
				type,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="direction != null">
				#{direction,jdbcType=VARCHAR},
			</if>
			<if test="subject != null">
				#{subject,jdbcType=VARCHAR},
			</if>
			<if test="pic != null">
				#{pic,jdbcType=VARCHAR},
			</if>
			<if test="schoolId != null">
				#{schoolId,jdbcType=INTEGER},
			</if>
			<if test="introduction != null">
				#{introduction,jdbcType=LONGVARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.huiming.emeng.model.Teacher">
		update teacher
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="direction != null">
				direction = #{direction,jdbcType=VARCHAR},
			</if>
			<if test="subject != null">
				subject = #{subject,jdbcType=VARCHAR},
			</if>
			<if test="pic != null">
				pic = #{pic,jdbcType=VARCHAR},
			</if>
			<if test="schoolId != null">
				school_id = #{schoolId,jdbcType=INTEGER},
			</if>
			<if test="introduction != null">
				introduction = #{introduction,jdbcType=LONGVARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=TINYINT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.huiming.emeng.model.Teacher">
		update
		teacher
		set name = #{name,jdbcType=VARCHAR},
		direction =
		#{direction,jdbcType=VARCHAR},
		subject = #{subject,jdbcType=VARCHAR},
		pic = #{pic,jdbcType=VARCHAR},
		school_id =
		#{schoolId,jdbcType=INTEGER},
		introduction =
		#{introduction,jdbcType=LONGVARCHAR},
		#{type,jdbcType=TINYINT},
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.huiming.emeng.model.Teacher">
		update teacher
		set
		name = #{name,jdbcType=VARCHAR},
		direction =
		#{direction,jdbcType=VARCHAR},
		subject = #{subject,jdbcType=VARCHAR},
		pic = #{pic,jdbcType=VARCHAR},
		school_id = #{schoolId,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectSelective" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from teacher
		<where>
			<if test="teacher.id != null">
				id = #{teacher.id,jdbcType=INTEGER}
			</if>
			<if test="teacher.name != null">
				AND name = #{teacher.name,jdbcType=VARCHAR}
			</if>
			<if test="teacher.direction != null">
				AND direction = #{teacher.direction,jdbcType=VARCHAR}
			</if>
			<if test="teacher.subject != null">
				AND subject = #{teacher.subject,jdbcType=VARCHAR}
			</if>
			<if test="teacher.pic != null">
				AND pic = #{teacher.pic,jdbcType=VARCHAR}
			</if>
			<if test="teacher.schoolId != null">
				AND school_id = #{teacher.schoolId,jdbcType=VARCHAR}
			</if>
			<if test="teacher.type != null">
				AND type = #{teacher.type,jdbcType=TINYINT}
			</if>
		</where>
		limit #{fromIndex},#{pageSize}
	</select>

	<select id="selectAll" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from teacher t
		where t.type = #{teachertype} 
		limit #{fromIndex},#{pageSize}
	</select>
	<select id="selectCountSelective" parameterType="com.huiming.emeng.model.Teacher"
		resultType="java.lang.Integer">
		select count(*)
		from teacher
		<where>
			<if test="id != null">
				id = #{id,jdbcType=INTEGER}
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="direction != null">
				AND direction = #{direction,jdbcType=VARCHAR}
			</if>
			<if test="subject != null">
				AND subject = #{subject,jdbcType=VARCHAR}
			</if>
			<if test="pic != null">
				AND pic = #{pic,jdbcType=VARCHAR}
			</if>
			<if test="schoolId != null">
				AND school_id = #{schoolId,jdbcType=VARCHAR}
			</if>
			<if test="type != null">
				AND type = #{type,jdbcType=TINYINT}
			</if>
		</where>
	</select>
	<select id="selectCount" resultType="java.lang.Integer"
		parameterType="java.lang.Byte">
		select count(*)
		from teacher t
		where t.type = #{teachertype,jdbcType=TINYINT}
	</select>

	<select id="selectCountByTeacher" resultType="java.lang.Integer"
		parameterType="com.huiming.emeng.model.Teacher">
		select count(*)
		from teacher
		<where>
			<if test="name != null">
				name LIKE concat(concat('%',#{name}),'%')
			</if>
			<if test="direction != null">
				or direction LIKE concat(concat('%',#{direction}),'%')
			</if>
			<if test="subject != null">
				or subject LIKE concat(concat('%',#{subject}),'%')
			</if>
			<if test="introduction != null">
				or introduction LIKE concat(concat('%',#{introduction}),'%')
			</if>
		</where>
	</select>


	<select id="selectByTeacherSelective" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from teacher
		<where>
			<if test="teacher.name != null">
				name LIKE concat(concat('%',#{teacher.name}),'%')
			</if>
			<if test="teacher.direction != null">
				or direction LIKE concat(concat('%',#{teacher.direction}),'%')
			</if>
			<if test="teacher.subject != null">
				or subject LIKE concat(concat('%',#{teacher.subject}),'%')
			</if>
			<if test="teacher.introduction != null">
				or introduction LIKE concat(concat('%',#{teacher.introduction}),'%')
			</if>
		</where>
		limit #{fromIndex},#{pageSize}
	</select>
</mapper>