/* 搜索框 */

#content-one{
	height:260px;
	overflow:hidden;
	
}
#common-content{
	height:270px;
	overflow:hidden;
	
}
.ui_content .input-group{
	width: 175px;
	float: right;
	margin-right: 25px;
	top: 5px;
	font-weight: 100;
}
.ui_content .input-group  input{
	padding: 3px 8px;
	height: 25px;
}
.ui_content .input-group button{
	height: 25px;
	vertical-align: middle;
	margin-bottom:10px;
}
.ui_content .input-group .search{
	position: relative;
	top: -2.5px;
}


/* 二层内容主框 */
.ui_content{
	margin-top: 20px;
	margin-bottom: 30px;
	border:1px solid #BDBDBD;
	border-radius: 2px;
	letter-spacing:3px;
	padding: 0;
	padding-bottom: 30px;
}
.ui_content hr{
	border-color: #ccc;
}
.ui_content *{
	letter-spacing:3px;
}

.ui_content a:hover{
	text-decoration: none;
}
.ui_content a{
	text-decoration: none;
}
/* 一级导航 */
.ui_content_nav{
	border-bottom: 1px solid #fad8d7;
	line-height: 35px;
	height: 35px;
	font-size: 1.4rem;
	color: #e8413e;
	overflow: hidden;
}
.ui_content_logo>img{
	vertical-align: top;
	margin: 3px -35px 0 25px;
}
.ui_content_title{
	color: #e8413e;
	margin-left: 40px;
	font-size: 1.5rem;
	font-weight: 600;
}

.ui_content_nav>a{
	height: 32px;
	display: inline-block;
	/* background-color: #FE7B79; */
	color: #000;
	padding: 0 5px;
	border-radius: 5px;
}

.ui_content_nav>a.active{
	background-color: #FE7B79;
	color: #FFF;
}
.ui_content_nav>a.more{
	color: #000;
	float: right;
	font-size: 1.3rem;
	padding-right: 20px;
} 

/* 二级导航 */
.ui_content_nav2{
	width: 100%;
	height: 35px;
	line-height: 35px;
	background: #eceef2;
	font-size: 1.5rem;
}
.ui_content_nav2 a span{
	color: #000;
	padding: 0 10px;
}
.ui_content_nav2 .tab{
	display: inline-block;
	text-align: center;
}
.ui_content_nav2 .active{
	background: #deddf7;
}
.ui_content_nav2 .edit{
	height: 35px;
	line-height: 35px;
	float: right;
	font-size: 2rem;
	margin-right: 30px;
}





/* 名师列表 */

.ui_content_teacher{
	width: 735px;
	float: left;
}
.ui_teacher_list_i{
	display: inline-block;
	margin-top: 25px;
	width: 325px;
	height: 147px;
	padding: 13px 10px;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
}
.ui_teacher_list_i:nth-child(2n+1){
		margin-left: 20px;
		float: left;
}
.ui_teacher_list_i:nth-child(2n){
		margin-right: 20px;
		float: right;
}
.ui_teacher_list_i>img{
	float: left;
	height: 123px;
	width: 102px;
}
.ui_teacher_list_i>div{
	margin-left: 124px;
	margin-right: 2px;
}
.ui_teacher_list_i>div>span{
	color: #FF7C78;
}
.ui_teacher_list_i>div>p{
	margin-top: 10px;
	height: 77px;
	color:#656565;
	font-size: 1.2rem;
	line-height: 1.6em;
	overflow-y: hidden;
}

/* 名师详细 */
.ui_teacher_detail{
	margin: 15px auto;
	width: 670px;

}

.ui_teacher_detail>h4{
	font-weight: 600;
	margin-top: 35px;
	padding-top: 0px;
}
.ui_teacher_detail>hr{
	margin-bottom: 15px;
	border-color: #ccc;
}
.ui_teacher_detail>img{
	float: left;
	height: 197px;
	width: 165px;
}
.ui_teacher_detail>div{
	margin-left: 173px;
   	border-left: 1px solid #CCC;
   	min-height: 330px;
   	padding-left: 25px;
}
.ui_teacher_detail>div>p>span{
	font-size: 1.5rem;
	color: #FF7C78;
}
.ui_teacher_detail>div>p{
	margin-top: 10px;
	/* color:#656565; */
	font-size: 1.2rem;
	line-height: 2em;
}





/* 推荐和相关 */
.ui_content_hot{
	width: 305px;
	height: 240px;
	float: right;
	margin-bottom: 21px;
}
.ui_content_related{
	width: 305px;
	height: 240px;
	float: right;
	margin-top: 0px;
}

/* 相关推荐列表 */

.ui_content_list{
	margin:14px 0px 6px;
}

.ui_content_list>li{
	margin-left: 50px;
	line-height: 19px;
	margin-top: 2px;
	font-size: 1.9rem;
	color: red;
}
.ui_content_list>li>a{
	display: inline-block;
	position: relative;
	top: 5px;
	color: #000;
	text-decoration: none;
	width: 215px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	color: #000;
	font-size: 1.2rem;
}


/* 在线课程列表 */
.ui_content_online{
	width: 735px;
	float: left;
}
.ui_content_online .ui_content_list{
	margin-top: 45px;
}
.ui_online_list_i{
	display: inline-block;
	height: 180px;
	width: 151px; 
	overflow: hidden;
	margin-top: 10px;
	margin: 5px 16px;
	float: left;
}
.ui_online_list_i img{
	height: 120px;
	width: 150px;
	border-radius: 0px;
	margin: 0px;
}
.ui_online_list_i p{
	height: 60px;
	font-size: 1.2rem;
	padding: 8px 3px;
}


/* 权威发布列表 */
.ui_content_authority,
.ui_content_news{
	width: 735px;
	float: left;
}
.ui_authority_list,
.ui_news_list{
	margin:28px 0px 0px;
}
.ui_authority_list>li,
.ui_news_list>li{
	list-style: none;
	margin:13px 55px 0px 45px; 
	border-bottom: 1px dotted #ccc; 
}
.ui_authority_list>li>a,
.ui_news_list>li>a{
	color: #000;
	text-decoration: none;
	width: 215px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	color: #000;
	font-size: 1.2rem;
}
.ui_authority_list span.text,
.ui_news_list span.text{
	display: inline-block;
	width: 515px;  
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.ui_authority_list span.date,
.ui_news_list span.date {
	display: inline-block;
	width: 100px;
	text-align: left;
	position: relative;
	top: -4px;
	left: 10px;
}
.ui_authority_list span.type,
.ui_news_list span.type {
	display: inline-block;
	width: 3px;
	height: 3px;
	margin-bottom:  8px;
	margin-right: 8px;
	background-color: #D1534F;
}
.ui_news_up_down{
	padding: 0 30px;
	color: #666;
}
.ui_news_up_down>li>a{
	color: #666;
	text-decoration: none;
}
.ui_news_up_down span.text{
	display: inline-block;
	width: 420px;  
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.ui_news_up_down span.date {
	display: inline-block;
	float: right;
	width: 90px;
	text-align: left;
}


/* 课程资源 */
.ui_content_source{
	width: 735px;
	float: left;
}
.ui_source_list{
}
.ui_source_list_i{
	display: inline-block;
	margin: 30px 12px 0px;
	float: left;
}
.ui_source_list_i img{
	height: 212px;
	width: 159px;
	padding: 10px 5px;
	border: 1px solid #ccc;
}


/* 课程资源3级 */
.ui_content_source_3{
	width: 1080px;
	float: left;
} 
.ui_source_3_detail{
	position: relative;
	padding: 40px 40px 0px 40px;
}

/* 章节目录 */
.ui_content_catalogue{
	/* position: relative; */
	float: left;
	margin: 0;
	padding: 0;
	width: 495px;
	float: left;
	min-height:200px 
}
.ui_catalogue_list>ul{
	margin:12px 0px;
}
.ui_catalogue_list>ul>li{
	list-style: none;
	margin:5px 30px 0px 30px; 
	border-bottom: 1px solid #ccc; 
	height: 26px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.ui_catalogue_list>ul>li>a{
	color: #000;
	text-decoration: none;
	color: #000;
	font-size: 1.2rem;
}

/* 阅读书目 */
.ui_content_books{
	margin: 0;
	padding: 0;
	width: 465px;
}
.ui_catalogue_list>ol{
	margin:12px 0px;
}
.ui_catalogue_list>ol>li{
	list-style-position:inside;padding-left:10px;
	margin:5px 30px 0px 30px; 
	border-bottom: 1px solid #ccc; 
	height: 26px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.ui_catalogue_list>ol>li>a{
	color: #000;
	text-decoration: none;
	color: #000;
	font-size: 1.2rem;
	margin-left: -10px;
}


/* 精品在线 */
.ui_content_quality{
	margin: 0;
	padding: 0;
	width: 465px;
	margin-top: 21px;
}

/* 多级 */
.ui_source_4_detail_i{
	margin: 0;
	padding: 0;
	width: 495px;
	height: 273px;
	margin-top: 30px;
}
.ui_source_4_detail{
	 padding: 10px 40px 0px 40px;
}
.ui_source_4_detail .pull-right>.ui_source_4_detail_i{
	width: 466px;
}


/* 我有话说1 */
.ui_content_tolk{
	float: left;
	width: 100%;
}
.ui_tolk_list{
	margin:20px 0px;
}
.ui_tolk_list>li{
	font-size: 1.3rem;
	list-style: none;
	margin:7px 0 0px ; 
	padding: 0 25px;
}
.ui_tolk_list>li>a{
	color: #000;
	text-decoration: none;
}

/* 我有话说2 */
.list-group-item-heading span.text,
.ui_tolk_list span.text{
	display: inline-block;
	width: 700px;  
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.list-group-item-heading span.auth,
.ui_tolk_list span.auth {
	display: inline-block;
	float: right;
	width: 95px;
	text-align: left;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	color: #AEAEAE;
}
.list-group-item-heading span.auth>span,
.ui_tolk_list span.auth>span{
	margin-right: 5px;
}
.list-group-item-heading span.date,
.ui_tolk_list span.date {
	display: inline-block;
	float: right;
	width: 115px;
	text-align: left;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	color: #AEAEAE;
}
.ui_tolk_list span.type {
	display: inline-block;
	float: left;
	width: 16px;
	height: 16px;
	margin-right: 20px;
	border-radius: 3px;
	line-height: 16px;
	text-align: center;
	padding: 0px;
	letter-spacing: 0;
}

.ui_tolk_list li:nth-child(1) span.type,
.ui_tolk_list li:nth-child(2) span.type,
.ui_tolk_list li:nth-child(3) span.type
{
	background-color: #FD7F42;
	color: #FFF;
} 
.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
    padding: 20px 25px 20px 40px;
}
.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
a.list-group-item,
{
  color: #555;
}
a.list-group-item .list-group-item-heading,
button.list-group-item .list-group-item-heading {
  color: #333;
}
.list-group-item-heading{
	font-size: 1.3rem;
}
.list-group-item-text{
	font-size: 1.2rem;
	height: 2em;
	width: 700px;
	line-height: 2em;

}
.list-group-item-heading span.text{
	color: #7398CC;
} 
.list-group-item-image{
	height: 40px;
	margin: 10px 10px 0 0;
}
.ui_artical,.ui_response{
	border-bottom:1px solid #EAEAEA;
	padding: 20px 40px 30px;
	font-weight: 300;
}

.ui_artical p,.ui_response p{
	font-size: 1.2rem;
	padding: 0 15px;
	line-height: 2em
}
.ui_artical p{
		text-indent:2em; 
}
.ui_response p>span:nth-child(1){
	color: #AAA;
}
small.auth{
	color: #AAA;
	margin: 20px;
}
.blockspan{
	width: 130px;
	height: 25px;
	line-height: 25px;
	display: inline-block;
	margin-right: 18px;
}
.blockspan>a>img{
position: relative;
top:-8px;	
margin-right: 5px;
}

.ui_content_guess{
	width: 100%;
	float: left;
}
.ui_content_guess .ui_content_list>li>a{
	display: inline-block;
	position: relative;
	top: 5px;
	color: #000;
	text-decoration: none;
	width: 80%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	color: #000;
	font-size: 1.2rem;
}

/* news详细 */
.ui_news_detail{
	margin: 15px auto;
	width: 670px;
}
.ui_news_detail>hr{
	margin-bottom: 15px;
	border-color: #ccc;
}
.ui_news_detail>p{
	text-indent:2em; 
	line-height: 2.2em;
	color: #666;
	font-size: 1.2rem;
}
.ui_news_detail>h6{
		color: #666;
	font-size: 1.2rem;
	margin-bottom: 15px;
}
.ui_news_detail>ul{
		color: #666;
	font-size: 1.2rem;
	margin-right: 20px;
	line-height: 2em;
	margin-bottom: 0px
}
.ui_news_detail img{
	width: 30%;
	margin: 1%;
}
