<div class="ui_content_detail ui_news_detail">
						<h4 class="text-center pull-left">会议标题:</h4>
						<div class="clearfix"></div>
						<hr>
						<h5 class="text-center pull-left">会议时间:</h5>
						<h5 class="text-center pull-left">会议内容:</h5>
						<div class="clearfix"></div>
						<p>我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力</p>
						<img src="images/ad-pic2.png">
						<img src="images/ad-pic2.png">
						<img src="images/ad-pic2.png">
						<div class="clearfix"></div>
						<br>
						<a href="#" class="btn btn-default pull-right" style="width: 200px; margin:10px">相关附件下载</a>
						<div class="clearfix"></div>
						<a href="javascript:;" data-toggle="modal" data-target="#myModal" class="btn btn-default pull-right"  style="width: 200px; margin:10px">会议报名</a>

						
						<div class="clearfix"></div>
						<hr>
						<ul class="list-unstyled ui_news_up_down">
							<li><a href="#"><span class="pull-left">上一篇：</span><span class="text">我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力</span><span class="date">2017-4-19</span></a></li>
							<li><a href="#"><span class="pull-left">下一篇：</span><span class="text">我省在第六届全国高校辅导员职业能力</span><span class="date">2017-12-19</span></a></li>
						</ul>						
					</div>

	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
				</button>
				<h4 class="modal-title" id="myModalLabel">
					会议报名
				</h4>
			</div>
			<div class="modal-body">
				

				点击关闭按钮检查事件功能。
				点击关闭按钮检查事件功能。
				点击关闭按钮检查事件功能。
				点击关闭按钮检查事件功能。
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					关闭
				</button>
				<button type="button" class="btn btn-primary">
					提交更改
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
   $(function () { $('#myModal').modal('hide')});
</script>
<script>
   $(function () { $('#myModal').on('hide.bs.modal', function () {
   });
</script>
