<div ng-controller="authoritylistCtrl">
		<!-- 权威发布 -->
		<div  class="ui_content ui_content_authority">
			<div class="ui_content_nav" active='authority'>
				<span  class="ui_content_title">权威发布:</span>
				<a ui-sref=".taptype({taptype:urlName[0]})" class="">经典作家</a>
				<a ui-sref=".taptype({taptype:urlName[1]})" class="">领导讲话</a>
				<a ui-sref=".taptype({taptype:urlName[2]})" class="">厅部文件</a>
				<a ui-sref=".taptype({taptype:urlName[3]})" class="">通知报告</a>
				<div class="input-group">
		                 <input type="text" class="form-control " placeholder="搜索"> 
		                 <span class="input-group-btn">
		                     <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-search search"></span></button>
		                 </span>
	             </div>
			</div>
			<div class="trtr">当前位置：
				<a href="#index.html">首页</a>>权威发布<a ng-show="$stateParams.taptype" ui-sref=".taptype({taptype:$stateParams.taptype})">>{{typeName[Map[$stateParams.taptype]]}}</a><a url="javascript:" ng-show="$stateParams.articleid">>文章详细</a>
			</div>
			<div class="clearfix"></div>
			<!-- 文章列表 -->
			<div ui-view="detail"></div>
		</div>
		<div ui-view="hotlist"></div>
</div>
