<!-- 猜你喜欢 -->
		<div  class="ui_content ui_content_guess">
						<div class="ui_content_nav">
							<span  class="ui_content_title">猜你喜欢</span>
						</div>
						<ul class="ui_content_list">
							<li><a href="#">我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力</a></li>
							<li><a href="#">我省在第六届全国高校辅导员职业能力</a></li>
							<li><a href="#">我省在第六届全国高校辅导员职业能力</a></li>
							<li><a href="#">我省在第六届全国高校辅导员职业能力</a></li>
							<li><a href="#">我省在第六届全国高校辅导员职业能力</a></li>
							<li><a href="#">我省在第六届全国高校辅导员职业能力</a></li>
							<li><a href="#">我省在第六届全国高校辅导员职业能力</a></li>
						</ul>
		</div>
	