<div  class="ui_content ui_content_spread ">
	<div class="ui_content_nav">
		<span  class="ui_content_title">{{passageTypeName[Map[$stateParams.passageType]]}}</span>	
	</div>
	<!-- 书本列表 -->
	<div class="ui_content_detail ui_content_spread">
		<h4 class="text-center ">文章标题</h4>
		<hr>
		<h6 class="text-center"><small>时间：XXX 编辑：XXX 浏览：XXX</small></h6>
		<p>我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力</p>
		<img src="images/ad-pic2.png">
		<img src="images/ad-pic2.png">
		<img src="images/ad-pic2.png">
		<div class="clearfix"></div>
	
		<a href="#" class="pull-left  ">附件：XXXXXXXXXXXXXXXXXXXXX</a>
		<br><br>
		<ul class="list-unstyled pull-right list-inline">
			<li>撰稿：XXXX  </li>
			<li>编辑：XXXX</li>
		</ul>
		<div class="clearfix"></div>						
	</div> 
<div>
<div class="clearfix"></div>
