<div class="ui_source_4_detail">
	<div class="pull-left">
		<!--阅读书目-->
		<div  class="ui_content ui_source_4_detail_i ">
			<div class="ui_content_nav">
				<span  class="ui_content_titile">原理剖析</span>
				<a ui-sref=".passageType({passageType:passageTypeUrl[0]})" class="more"><span>更多>></span></a>
			</div>
			<div class="ui_catalogue_list">
				<ol>
					<li ng-repeat="x in chapterDetail.theories"><a  ui-sref=".passageType.articleid({passageType:passageTypeUrl[0],articleid:x.id})"> {{x.titile}}</a></li>
				</ol>
			</div> 
		</div>
		<div  class="ui_content ui_source_4_detail_i ">
			<div class="ui_content_nav">
				<span  class="ui_content_titile">视频资源</span>
				<a ui-sref=".passageType({passageType:passageTypeUrl[2]})" class="more"><span>更多>></span></a>
			</div>
			<div class="ui_catalogue_list">
				<ol>
					<li ng-repeat="x in chapterDetail.vidios"><a  ui-sref=".passageType.articleid({passageType:passageTypeUrl[2],articleid:x.id})"> {{x.titile}}</a></li>
					
				</ol>
			</div> 
		</div>
		<div  class="ui_content ui_source_4_detail_i ">
			<div class="ui_content_nav">
				<span  class="ui_content_titile">参考资料</span>
				<a ui-sref=".passageType({passageType:passageTypeUrl[4]})" class="more"><span>更多>></span></a>
			</div>
			<div class="ui_catalogue_list">
				<ol>
					<li ng-repeat="x in chapterDetail.references"><a   ui-sref=".passageType.articleid({passageType:passageTypeUrl[4],articleid:x.id})"> {{x.titile}}</a></li>

				</ol>
			</div> 
		</div>
</div>
<div class="pull-right">
	<!--案例资源-->
	<div  class="ui_content ui_source_4_detail_i ">
			<div class="ui_content_nav">
				<span  class="ui_content_titile">案例资源</span>
				<a ui-sref=".passageType({passageType:passageTypeUrl[1]})" class="more"><span>更多>></span></a>
			</div>
			<!-- 书本列表 -->
			<div class="ui_catalogue_list">
				<ol>
					<li ng-repeat="x in chapterDetail.cases"><a  ui-sref=".passageType.articleid({passageType:passageTypeUrl[1],articleid:x.id})"> {{x.titile}}</a></li>

				</ol>
			</div> 
		</div>
		<!--推荐教案-->
		<div  class="ui_content ui_source_4_detail_i ">
			<div class="ui_content_nav">
				<span  class="ui_content_titile">推荐教案</span>
				<a ui-sref=".passageType({passageType:passageTypeUrl[3]})" class="more"><span>更多>></span></a>
			</div>
			<!-- 书本列表 -->
			<div class="ui_catalogue_list">
				<ol>
					<li ng-repeat="x in chapterDetail.schemes"><a  ui-sref=".passageType.articleid({passageType:passageTypeUrl[3],articleid:x.id})"> {{x.titile}}</a></li>
				</ol>
			</div> 
		</div>
		<div  class="ui_content ui_source_4_detail_i ">
			<div class="ui_content_nav">
				<span  class="ui_content_titile">精品课件</span>
				<a ui-sref=".passageType({passageType:passageTypeUrl[5]})" class="more"><span>更多>></span></a>
			</div>
			<!-- 书本列表 -->
			<div class="ui_catalogue_list">
				<ol>
					<li ng-repeat="x in chapterDetail.courseware"><a  ui-sref=".passageType.articleid({passageType:passageTypeUrl[5],articleid:x.id})"> {{x.titile}}</a></li>
				</ol>
			</div> 
		</div>					
	</div>
</div>