<div ng-controller="lesson">
		<!-- 课程资源 -->
		<div  class="ui_content ui_content_source" id="ui_content" ng-class="{'ui_content_source_3':$stateParams.bookName&&!$stateParams.passageType&&current.ifCata!='booklist'}">
				<div class="ui_content_nav" active="lesson" active>
					<span class="ui_content_logo"><img src="images/saying-Logo.png"></span>
					<span  class="ui_content_title" >课程资源</span>
					<a ng-show='$stateParams.bookName' ui-sref=".bookName.catalogue({bookName:bookUrl[0]})" class="">基础</a>
					<a ng-show='$stateParams.bookName' ui-sref=".bookName.catalogue({bookName:bookUrl[1]})" class="">概论</a>
					<a ng-show='$stateParams.bookName' ui-sref=".bookName.catalogue({bookName:bookUrl[2]})" class="active">原理</a>
					<a ng-show='$stateParams.bookName' ui-sref=".bookName.catalogue({bookName:bookUrl[3]})" class="">纲要</a>
					<div class="input-group">
			            <input type="text" class="form-control " placeholder="搜索">
			            <span class="input-group-btn">
			                <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-search search"></span></button>
			            </span>
			          </div >
				</div>
				<div class="trtr">当前位置：
				<a href="#index.html">首页</a>><a ui-sref="lesson">课程资源</a><a ui-sref=".bookName.catalogue" ng-show="$stateParams.bookName" >>{{bookName[Map[$stateParams.bookName]]}}</a><!-- <a url="javascript:" ng-show="current.ifCata=='catalogue'" ui-sref=".bookName.catalogue({bookName:$stateParams.bookName})">>章节目录</a> --><a url="javascript:" ng-show="current.ifCata=='booklist'" ui-sref=".bookName.booklist({bookName:$stateParams.bookName })">>阅读书目</a><a ng-show="$stateParams.chapter" ui-sref=".bookName.catalogue.chapter({bookName: $stateParams.bookName,chapter:$stateParams.chapter})">>第{{$stateParams.chapter}}章</a><a ui-sref=".bookName.catalogue.chapter.passageType" ng-show="$stateParams.passageType" >>{{passageTypeName[Map[$stateParams.passageType]]}}</a><a ng-show="$stateParams.articleid" >>文章详细</a>
				</div>
				<div class="clearfix"></div>
				<div ui-view="detail"></div>
		</div> 
		<div ng-hide="$stateParams.bookName&&!$stateParams.passageType&&current.ifCata!='booklist'" ui-view="hotlist"></div>

		
</div>
		
	
