
   <!-- 友情链接 -->
        <div class="commonClass links ">
            <div class="news-title links-title">
                <a href="#"><span class="links-logo"><img src="images/friend-logo.png"></span></a>
                <a href="#" class="title"><span>友情链接</span></a>
            </div>
            <div class="trtr">当前位置：
                <a href="#index.html">首页</a>>友情链接
            </div>
            <div class="clearfix"></div>
            <div class="common-content links-content">
                <div class="content">
                    <ul>
                        <a href="#"><li>爱课程网</li></a>
                        <a href="#"><li>精品课程网</li></a>
                        <a href="#"><li>中国青年网</li></a>
                        <a href="#"><li>爱课程网</li></a>
                        <a href="#"><li>精品课程网</li></a>
                        <a href="#"><li>中国青年网</li></a>
                    </ul>
                </div>
                <div class="content">
                    <ul>
                        <a href="#"><li>爱课程网</li></a>
                        <a href="#"><li>精品课程网</li></a>
                        <a href="#"><li>中国青年网</li></a>
                        <a href="#"><li>爱课程网</li></a>
                        <a href="#"><li>精品课程网</li></a>
                        <a href="#"><li>中国青年网</li></a>
                    </ul>
                </div>
                <div class="content">
                    <ul>
                        <a href="#"><li>爱课程网</li></a>
                        <a href="#"><li>精品课程网</li></a>
                        <a href="#"><li>中国青年网</li></a>
                        <a href="#"><li>爱课程网</li></a>
                        <a href="#"><li>精品课程网</li></a>
                        <a href="#"><li>中国青年网</li></a>
                    </ul>
                </div>
                <div class="content">
                    <ul>
                        <a href="#"><li>爱课程网</li></a>
                        <a href="#"><li>精品课程网</li></a>
                        <a href="#"><li>中国青年网</li></a>
                        <a href="#"><li>爱课程网</li></a>
                        <a href="#"><li>精品课程网</li></a>
                        <a href="#"><li>中国青年网</li></a>
                    </ul>
                </div>
                <div class="content">
                    <ul>
                        <a href="#"><li>爱课程网</li></a>
                        <a href="#"><li>精品课程网</li></a>
                        <a href="#"><li>中国青年网</li></a>
                        <a href="#"><li>爱课程网</li></a>
                        <a href="#"><li>精品课程网</li></a>
                        <a href="#"><li>中国青年网</li></a>
                    </ul>
                </div>
            </div>
        </div>