<!-- 最新资料 -->
<div ng-controller="passage">
<div  class="ui_content ui_content_news">
			<div class="ui_content_nav">
				<span  class="ui_content_title">{{typeName[Map[$stateParams.taptype]]}}</span>
				<div class="input-group">
	                    <input type="text" class="form-control " placeholder="搜索"> 
	                    <span class="input-group-btn">
	                        <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-search search"></span></button>
	                    </span>
                </div>
			</div>
			<div class="trtr">当前位置：
				<a href="#index.html">首页</a><a ui-sref=".taptype({taptype:$stateParams.taptype})">>{{typeName[Map[$stateParams.taptype]]}}</a><a url="javascript:" ng-show="$stateParams.articleid">>文章详细</a>
			</div>
			<div class="clearfix"></div>
		<div ui-view="detail"></div>
</div>
<div ui-view="hotlist"></div>
<div ui-view="guess"></div>
</div>
		