

<div class="ui_artical">
	<h5 class="">
		<small class="auth"> <span class="glyphicon glyphicon-user"></span>{{detaildata.username}}</small><span class="text">{{detaildata.title}}</span>
	</h5>
	<hr>
	<div>{{detaildata.content}}</div>
	<span class="blockspan pull-right text-right"><a href="javascript:;"><img src="images/good.jpg">{{detaildata.like}}</a></span>
	<div class="clearfix"></div>
	<span class="blockspan pull-right text-right">{{detaildata.release_time}}</span>	
	<div class="clearfix"></div>
</div>

<div class="ui_response">
	<p><span>回复：</span><span>{{detaildata.reply}}</span></p>
<!-- 	<span class="blockspan pull-right text-right"><a href="javascript:;"><img src="images/good.jpg">{{detaildata.like}}</a></span>
 -->	<div class="clearfix"></div>
	<!-- <span class="blockspan pull-right text-right">4/9 9:00</span> -->
	<div class="clearfix"></div>
</div>				
