<!-- 学校 -->
		<!-- <div  class="ui_content ui_content_guess">
						<div class="ui_content_nav">
							<span  class="ui_content_title">猜你喜欢</span>
						</div>
						<ul class="ui_content_list">
							<li><a href="#">我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力</a></li>
							<li><a href="#">我省在第六届全国高校辅导员职业能力</a></li>
							<li><a href="#">我省在第六届全国高校辅导员职业能力</a></li>
							<li><a href="#">我省在第六届全国高校辅导员职业能力</a></li>
							<li><a href="#">我省在第六届全国高校辅导员职业能力</a></li>
							<li><a href="#">我省在第六届全国高校辅导员职业能力</a></li>
							<li><a href="#">我省在第六届全国高校辅导员职业能力</a></li>
						</ul>
		</div>
	 -->
 <!-- 盟员广场 -->
        <div class="commonClass friend ui_content ui_content_guess">
            <div class="news-title friend-title">
                <a href="#"><span class="friend-logo"><img src="images/school-logo.png"></span></a>
                <a href="#" class="title"><span>盟员广场</span></a>
            </div>
            <div class="trtr">当前位置：
                <a href="#index.html">首页</a>>盟员广场
            </div>
            <div class="clearfix"></div>
            <div class="second-title">
                <ul>
                    <li><span class="tab active">本科院校</span></li>
                    <li><span class="tab">独立学院</span></li>
                    <li><span class="tab">高职院校</span></li>
                    <li><span ><select name=province" id="province">
                    <option value='广东省'>广东省</option>
                    <option value='浙江省'>浙江省</option>
                    <option value='安徽省'>安徽省</option>
                </select>
                <div id="move_to">查询</div></span></li>
                </ul>
                
            </div>
            <div ui-view='detail'></div>
        </div>