 <div class="common-content school-content">
     <ul>
         <li><a href="#"><span class="school-img"><img src="images/school-11.png"></span><br><span class="school-name">广州中医药大学</span></a></li>
     </ul>
     <ul style="display:none">
         
         <li><a href="#"><span class="school-img"><img src="images/school-21.png"></span><br><span class="school-name">广东外语外贸大学</span></a></li>
     </ul>
     <ul style="display:none">
         <li><a href="#"><span class="school-img"><img src="images/school-11.png"></span><br><span class="school-name">广州中医药大学</span></a></li>
     </ul>
 </div>